@import '../../assets/helpers/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: $backgroundColor;
}

.header {
  background-color: #fff;
  width: 100%;
  padding: 20px 40px;
  font-size: 30px;
  font-weight: bold;
}

.content {
  padding: 40px;
}
