.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.place {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: bold;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}

.descr {
  font-size: 20px;
  margin: 10px 0px;
}

.img {
  max-width: 500px;
  border-radius: 10px;
}
